* {
    box-sizing: border-box;
    
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Be Vietnam', sans-serif;
}

.topNav {
    overflow: hidden;
}

.topNav .icon {
    display: none;
}


li {
    list-style-type: none;  
    margin-left: 50px; 
    font-size: 20px;
    margin-top: 20px;
}

ul li:first-of-type {
    margin-left: 110px;
    margin-right: 90px;
}

ul li:last-of-type {
    margin-right: 130px;
}

ul {
    display: flex;
}

.start {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: hsl(12, 88%, 59%);;
    padding: 15px;
    border-radius: 25px;
}

a {
    text-decoration: none;
    color: black;

}

.fa {
    color: black;
    font-size: 30px;
    margin-top: 20px
}

.bring {
    font-size: 35px;
}


.manage {
    font-size : 10px
}

.started {
    font-size : 10px
}

.flexOne {
    display: flex;
    margin-top: 70px;
}

.flexLeft {
    width: 300px;
    margin-left: 150px;
    margin-right: 150px;
}

.what {
    font-size: 35px;
    font-weight: 600 ;
    margin-top: 45px;
}

.function {
    font-size : 10px
}

.flexTwo {
    display: flex;
}

.flexLeftTwo{
    width: 400px;
    margin-left: 150px;
    margin-right: 80px;
}

.flexRight {
    width: 400px;

}

.innerFlex {
    display: flex;
    margin-top: 30px;

}

.num {
    margin-right:  50px;
    font-weight: 600;
    margin-top: 28px;
    background-color:  hsl(12, 88%, 59%);
    padding: 5px;
    width: 150px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    color: white;
    font-size: 8px;   
} 

.track {
    font-weight: 900;
    font-size: 20px
}

.text {
    font-weight: 300;
    font-size: 10px

}

.flexfeedback {
    display: flex;
   justify-content: space-evenly;
   margin-top: 90px;

}

.feed {
    width: 40px
}

.feedback1{
    width: 300px;
    margin-left: 50px
}

.feedback {
    width: 300px;
}

.topFooter {
    background-color:hsl(12, 88%, 59%); 
    padding: 30px;
    color: white;
    margin-top: 60px
    
}

.topFooter h2 {
    font-weight: 900;
    margin-left: 90px;
}

.lowFooter {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;  
}

.foot {
    margin-left: 50px;
}

.fab {
    color: pink

}

input {
    text-align: center;
    padding: 15px;
    border-radius: 25px ;
}

button {
    color: whitesmoke;
    background-color: hsl(12, 88%, 59%); 
    padding: 8px;
    border-radius: 25px;
    width: 40px;
}

.details{
    margin-top: 50px;
}

.details button {
    margin-left: 15px;
}

a {
    margin-left: 5px;
}

@media screen and (max-width: 600px) {
   .topNav li:not(:first-child) {display: none;}

   ul .start {
       margin-left: 280px;
       margin-top: 20px;
   }

   .start {
    text-decoration: none;
    color: white;
    font-size: 15px;
    background-color: hsl(12, 88%, 59%);;
    padding: 10px;
    border-radius: 25px;
}

.flexOne {
    display: flex;
    flex-direction: column;
}

.flexLeft {
    margin-left: 50px;
}

.product img{
    width: 450px;
    margin-left: 30px;
    margin-top: 30px;
}

.flexTwo {
    display: flex;
    flex-direction: column

}

.flexLeftTwo {
    margin-left: 50px;
}

.flexRight {
    margin-left: 50px;
    
}

.flexfeedback {
    display: flex;
    flex-direction: column;

}.feedback {
    margin-left: 50px;

}

.topFooter h2{
    margin-left: 30px;

}

.lowFooter {
    display: flex;
    flex-direction: column;
}
.lowFooter .details {
    text-align: center;
}










    

}